{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<style>
  
</style>

<body>
    <!-- navbar start -->
    <div class="topnav sticky">
        <a href="/">Locate</a>
        <a href="{% url 'about' %}">About</a>
        
    </div>
    <!-- navbar end -->


    <section class="content">
            <!-- hero section start-->
            <div id="hero" class="container center">
                <center>
                    <img style="width: 900px; max-width: 60vw; max-height: 40vh" src="{% static 'map.svg' %}" alt="">
                </center>

                <h1 style="text-align: center">Track vaccination centers</h1>
            </div>
            <!-- hero section end -->



    
            <!-- double button start -->
            <div class="center btn-div">
                <div class="lg">
                    <button class="btn btn-normal block-btn" id="trigger" onclick="getLocation()">
                        Use Map
                    </button>
                    
                </div>
            </div>
            <!-- double button end -->


            <!-- map card start -->
            <div style="margin-top: 2rem; margin-bottom: 1rem; display: none; padding: 2rem; width:80%" class="card border center" id="map-card">
                <div style="display: none; margin-bottom: 20px" id="maptext" class="card-header">
                    <strong style="font-size: large; color: #5271ff">
                    Mark the location from map</strong>
                </div>
                <div class="card_body">
                    <div style="display: none" id="map"></div>
                </div>
            </div>
            <!-- map card end -->



    <!-- <div class="lg">
        <button style="display: none" class="btn btn-normal block-btn" id="my_loc" >My Location</button>
    </div> -->

        <!-- form for coordinates and pin start -->
        <div class="container center">
            
            <form method="POST" action="{% url 'select_location' %}">
                {% csrf_token %}

                <div style="display: none" id="coo">
                    <label for="example">Coordinates</label>

                    <input type="text" name="pos" id="example" aria-label="readonly input example" readonly
                        placeholder="read only" />

                    <label id="label_pin" style="display: none" for="">Pin</label>
                    <input style="display: none" name="pin" type="number" min="100000" max="999999" id="pin" />
                    <input style="display: none" type="text" id="type" name="type" />
                </div>
                <div style="margin-top: 1rem" class="lg">
                    <button style="display: none" id="submit_btn" class="btn btn-normal block-btn" type="button">
                        Track
                    </button>
                </div>
            </form>
        </div>
        <!-- form for coordinates and pin end -->
    </section>



    <script src="{% static 'my.js' %}"></script>
    <!-- script for listening button click start -->
    <script>
        // listening to use map button
        function getLocation() {
            var x = document.getElementById("map");
            var y = document.getElementById("maptext");
            var z = document.getElementById("coo");
            var m = document.getElementById("trigger");
            
            document.getElementById("submit_btn").style.display = "block";
            document.getElementById("hero").style.display = "none";

            x.style.display = "block";
            y.style.display = "block";
            z.style.display = "block";
            m.style.display = "none";
            document.getElementById("map-card").style.display = "block";
            document.getElementById("type").value = "map";
        

            console.log("Hello");
            if (navigator.geolocation) {
                // get my location and pass to gmap api call
                navigator.geolocation.getCurrentPosition(initMap);
                console.log("Hello");
            }
        }

         // listening to use map button
        
           
    </script>
    <!-- script for listening button click end -->



    <!--  Set Map Marker start-->

    <script>
        function initMap(position) {
            console.log(position);
            // maps options
            var options = {
                zoom: 14,
                center: {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                },
            };
            var map = new google.maps.Map(document.getElementById("map"), options);
            console.log("hola");

            //   Listen For Click On map
            var tick = true;
            google.maps.event.addListener(map, "click", function (event) {
                console.log(event.latLng);

                if (tick) {
                    // setting selected marker lat long in input field
                    document.getElementById("example").setAttribute("value", event.latLng);
                    document.getElementById("example").setAttribute("placeholder", event.latLng);


                    // adding marker
                    addMarker({
                        coords: event.latLng,
                        iconImage:
                            "https://img.icons8.com/external-justicon-lineal-color-justicon/54/000000/external-syringe-plastic-surgery-justicon-lineal-color-justicon.png",
                    });

                    function removeMarkers() {
                        for (i = 0; i < gmarkers.length - 1; i++) {
                            gmarkers[i].setMap(null);
                        }
                    }
                    removeMarkers();
                }
            });
            // Array Of markers

            // add marker Function

            var executed = false;
            function addMarker2(props) {
                var marker = new google.maps.Marker({
                    position: props.coords,
                    map: map,
                });

                if (props.iconImage) {
                    marker.setIcon(props.iconImage);
                }
                if (props.content) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: props.content,
                    });
                    marker.addListener("click", function () {
                        infoWindow.open(map, marker);
                    });
                }
            }

            // add marker Function
            var gmarkers = [];
            var executed = false;
            function addMarker(props) {
                if (!executed) {
                    var marker = new google.maps.Marker({
                        position: props.coords,
                        map: map,
                    });
                    gmarkers.push(marker);
                }
                // executed = true

                if (props.iconImage) {
                    marker.setIcon(props.iconImage);
                }
                if (props.content) {
                    var infoWindow = new google.maps.InfoWindow({
                        content: props.content,
                    });
                    marker.addListener("click", function () {
                        infoWindow.open(map, marker);
                    });
                }
            }
        }

        document.getElementById("submit_btn").addEventListener("click", () => {
            if (document.getElementById("type").value == "pin") {
                if (document.getElementById("example").value == "") {
                    alert("Please select loaction from map");
                } else {
                    if (document.getElementById("pin").value == "") {
                        alert("Please enter pin");
                    } else {
                        document.getElementById("submit_btn").type = "submit";
                    }
                }
            } else if (document.getElementById("type").value == "map") {
                if (document.getElementById("example").value == "") {
                    alert("Please select loaction from map");
                } else {
                    document.getElementById("submit_btn").type = "submit";
                }
            }
        });
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCGjsl4UqbYWGhKj9T_jTXvNAcln5TkUc&callback=initMap&libraries=&v=weekly"
        defer></script>
</body>

</html>